.App {
   text-align: center;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.div {
   margin: 10px 10px;
   display: flex;
   justify-content: space-around;
}

.Movie {
   display: block;
   border: 2px black solid;
   width: 40%;
}
.Movie h2 {
   color: rgb(21, 132, 196);
}

.Nav {
   height: 10%;
   width: 100%;
   background-color: rgba(52, 42, 105, 0.938);
   color: white;
   display: flex;
   justify-content: space-around;
}

form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.input {
   margin: 10px 10px;
   height: 2rem;
   width: 20%;

   color: teal;
}
.submit {
   height: 5rem;
   width: 10%;
   background: rgba(52, 42, 105, 0.938);
   color: white;
   border-radius: 50%;
   font-size: 1.5rem;
}
